
body {
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 20px;
}

.vocab {
    max-width: 700px;
    margin: 0 auto;

}

.vocab h1 {
    text-align: center;
    color: #2c3e50;
    border: #2c3e50;
    padding: 10px;
    margin: 20px
}

.vocab li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.vocab li strong {
    color: #000000;
}